<!-- your html code here -->
<div class="container text-center h-100 bg-primary d-flex justify-content-center align-items-center bg-white">
    <div class="container float-left">
        <div class="row">
            <div class="text-left mt-2">
                <h1>This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            </div>
            
            <div class= "text-left mt-1">
                <p class="overflow-auto lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
    </div>             
               
    <div class="rounded float-end">
        <img src="https://theheizenbergeffect.files.wordpress.com/2012/09/walter_white_breaking_bad-stanley-chow.jpg" class="rounded-circle mt-3" width="230" height="250" alt="">
    </div><br>
    
</div>  