<!-- your html code here -->
<div class="container-fluid bg-white" width="50%">
    <div class="container float-left">
        <div class="row">
            <div class="col-3 text-left mt-2">
                <h6>This First Heading </h6>
            </div>
            <div class="col-4 text-left text-secondary mt-2">
                <h6>Will Catch Your Eye </h6>
            </div>
            <div class= "col-9 mt-1">
                <p class="overflow-auto">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
    </div>             
               
    <div class="rounded float-end">
        <img src="https://theheizenbergeffect.files.wordpress.com/2012/09/walter_white_breaking_bad-stanley-chow.jpg" class="rounded-circle mt-3" width="130" height="150" alt="">
    </div><br>
    
</div>  