<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last Name</th>
      <th scope="col">Part</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Gabriela</td>
      <td>Martinez</td>
      <td>firts heading</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Alejandro</td>
      <td>Thornton</td>
      <td>Navbar</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Euclides</td>
      <td>the Bird</td>
      <td>Services</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Jose</td>
      <td>the Bird</td>
      <td>Portafolio</td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td>Euclides</td>
      <td>asdasd</td>
      <td>Contact</td>
    </tr>
        <tr>
      <th scope="row">6</th>
      <td>Roger</td>
      <td>Hernandez</td>
      <td>Members</td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td>Andres</td>
      <td>Torres</td>
      <td>Tagline</td>
    </tr>
  </tbody>
</table>

