<hr/>
<div class="container-fluid justify-content-center main-porfolio">
    <div>
        <h1 class="title-porfolio">Porfolio</h1>
        <p class="lead ">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisi consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
    </div>
    <div class="d-flex justify-content-between">
        <div class="card-porfolio">
            <img class="card-img-top" src="http://placehold.jp/700x400.png">
            <div class="card-body-porfolio">
                <h2 class="card-title text-primary">Project Name</h2>
                <p class="card-text card-text-porfolio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>
            </div>
        </div>

        <div class="card-porfolio">
            <img class="card-img-top" src="http://placehold.jp/700x400.png">
            <div class="card-body-porfolio">
                <h2 class="card-title text-primary">Project Name</h2>
                <p class="card-text card-text-porfolio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>
            </div>
        </div>

        <div class="card-porfolio">
            <img class="card-img-top" src="http://placehold.jp/700x400.png">
            <div class="card-body-porfolio">
                <h2 class="card-title text-primary">Project Name</h2>
                <p class="card-text card-text-porfolio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. </p>
            </div>
        </div>
    </div>
</div>
<hr/>