<!-- your html code here -->
<div class="d-flex flex-column img-fluid" style="background-image: url(./assets/img/bg.jpg); background-size: 100% 100%; width: 100vw; height: 650px;">
    <div class="container-fluid mt-5 pt-5">
        <div class="container-fluid bg-white">
            <h1 class="display-1 font-weight-bold text-center">One Page Wonder</h1>
        </div>
        <div class="container-fluid bg-white">
            <h2 class="display-4 font-weight-bold text-center">Will Knock Your Socks Off</h2>
        </div>
    </div>
</div>
